img {
    max-width: 100%;
    cursor: zoom-in;
}

.img-full {
    display: block;
    margin: 0 auto;
}

.img-full-height {
    height: calc(100vh - 20px);
    width: auto;
    max-width: unset;
}
.img-full-height.width-gt-height {
    cursor: zoom-out;
}

.img-full-width {
    width: calc(100vw - 20px);
}
.img-full-width.height-gt-width {
    cursor: zoom-out;
}

:is(html, body):has(.img-full) {
    overflow: scroll;
    background-color: black;
}
body:has(.img-full) {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
}
body:has(.img-full-width.width-gt-height) {
    display: flex;
    align-items: center;
}

:has(.img-full)::-webkit-scrollbar,
:has(.img-full) :not(.img-full):not(:has(.img-full)) {
    display: none;
}
