img {
    max-width: 100%;
}

[class^="img-full"] {
    display: block;
    margin: 0 auto;
}

img:not(.img-full-width) {
    cursor: zoom-in;
}

.img-full-height {
    height: calc(100vh - 20px);
    width: auto;
    max-width: unset;
}

.img-full-width {
    width: calc(100vw - 20px);
    cursor: zoom-out;
}

:is(html, body):has([class^="img-full"]) {
    overflow: scroll;
    background-color: black;
}
body:has([class^="img-full"]) {
    width: calc(100vw - 20px);
    height: calc(100vh - 20px);
    margin: 10px;
}
body:has(.img-full-width.img-full-width-gt-height) {
    display: flex;
    align-items: center;
}

:has([class^="img-full"])::-webkit-scrollbar,
:has([class^="img-full"]) :not([class^="img-full"]):not(:has([class^="img-full"])) {
    display: none;
}
